<!doctype html>
<html>
  <head>
    <title>Chat</title>
  </head>
  <body>
    <ul>
      <% rooms.forEach(function(room) { %>
          <li><a href="/rooms/?room=<%= room.name %>"><%= room.name %></li>
      <% }); %>
    </ul>
  </body>
</html>
